/**
 * @name CustomUserTags
 * @author Monstrum#3557 & It'sJustJosh#1156
 * @version 1.3
 * @description A Quick Import To Give Users Badges In Chat - TO REQUEST ONE DM It'sJustJosh#1156
 * @source https://github.com/TheRealGWJosh/CustomUserTags
 * @website https://github.com/TheRealGWJosh/CustomUserTags/blob/main/README.md/
*/


/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url('https://raw.githack.com/TheRealGWJosh/CustomUserTags/main/main/main.css');

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/
